.modal-container {

  .bg-shadow{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(25, 25, 25, .75);
    z-index: 5;
  }

  .modal-body {
    position: fixed;
    z-index: 10;
    background: #f1f1f1;
    border-radius: 15px;
    padding: 15px;
    width: 80vw;
    height: 80vh;
    top: 10vh;
    left: 10vw;

    .user-image {
      width: 50px;
      height: 50px;
      margin-right: 15px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    .user-data p {
      margin: 0;

      &.user-name {
        font-weight: bold;
        font-size: .9rem;
        color: #000;
      }

      &.user-handle {
        font-size: .8rem;
        color: #434343;
      }
    }

    .main-image {
      width: 100%;
      height: calc(100% - 100px - 1rem);

      a {
        cursor: zoom-in;
        display: inline;
      }

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .footer {
      color: #000;
      height: 50px;

      p {
        margin: 0;
      }
    }
  }
}
