@import "~bootstrap/scss/bootstrap";

* {
	padding: 0;
	margin: 0;
}

body {
	background-image: url('../images/bg-beach-dusk.jpg');
	background-position: center;
  background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-color: #1b1b1b;
	color: #fff;
	height: 100vh;

	.main-container {
		width: 1200px;
	}

	.pointer {
		cursor: pointer;
	}
}
