.search-bar {

  .search-bar-input {
    padding-left: 30px;
    outline: none;

    &:focus {
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }

  .search-icon {
    position: absolute;
    top: 12px;
    left: 24px;
  }
}
